
<div class="stay-card">

<h1>Contact Information</h1>

<p>
    If there is a power outage, a water issue, or anything else of that nature, please reach out to the hosts or the in-town manager:
</p>

<ul>
    <li><strong>Theodora/Shelton:</strong> <a href="tel:9286079263">(928) 607-9263</a></li>
    <li><strong>Amy:</strong> <a href="tel:9079879030">(907) 987-9030</a></li>
</ul>

    <a asp-controller="Home" asp-action="Index" class="nav-link">Back to Welcome Page</a>
</div>
