
<div class="stay-card">

<h1>About the House</h1>
<p>Welcome! Here is what you need to know:</p>

<section>
    <h2>Water Pump</h2>
    <p>
        The noise you hear when you turn on the shower, flush the toilet, or run water from the sink is our water pump.
        It should not be running when the appliances that use water are off. If you hear it running for more than 5 minutes
        while everything is off, please contact Theodora or Shelton.
    </p>
</section>

<section>
    <h2>House Guidelines</h2>
    <ul>
        <li>If the indoor garbage can fills up, please place the bag in the silver trash can outside. Do not leave trash on the porch — it attracts animals.</li>
        <li>If you're chilly, feel free to turn up the Toyo stove in the living room. The ceiling fans on low help circulate heat. There are also space heaters/fans in the bedroom and bathroom.  There are four different settings on the black space heaters/fans.  F1/F2 are for fan mode, and if the number 95 is showing, that means it is on heat mode.  There is a lower heat mode as well.  you can move through the modes by hitting the button the the M on it.</li>
        <li>You’re welcome to use the washer and dryer. Please use the <strong>Quick Cycle</strong> to help conserve the water we haul.</li>
        <li>A fire extinguisher is under the sink. If the smoke alarm goes off, the fire department will respond. Please contact Theodora or Shelton to cancel the call if it's a false alarm.</li>
        <li>A small first aid kit is in the kitchen drawer.</li>
        <li>If the power goes out, contact Theodora or Shelton. Flashlights are in the kitchen drawer, and emergency water is in the laundry room. If the outage is long, someone will come to light a fire for you.</li>
    </ul>
</section>

<section>
    <h2>Contact Information</h2>
    <ul>
        <li><strong>Theodora:</strong> (928) 600-2889</li>
        <li><strong>Shelton:</strong> (928) 607-9263</li>
        <li><strong>Amy:</strong> (907) 987-9030</li>
    </ul>
</section>
    <a asp-controller="Home" asp-action="Index" class="nav-link">Back to Welcome Page</a>

</div>
