
<div class="stay-card">

    <img src="~/images/LightsOut.jpg" alt="Northern Lights over Fairbanks" class="aurora-img" />
<h1> Northern Lights Information</h1>

<p>
    We hope that if you're staying with us during the dark winter months, you'll get to see the Northern Lights right from the porch!
    If you're feeling adventurous and want to go chase them, we recommend packing snacks and something hot to drink, then heading to one of these popular viewing spots:
</p>

<ul>
    <li>Murphy Dome</li>
    <li>Ester Dome</li>
    <li>Cleary Summit</li>
    <li>Pedro Dome</li>
</ul>

<p>
    🚗 <strong>Travel Tip:</strong> A vehicle with all-wheel drive (AWD) is highly recommended to reach these locations safely, especially in snowy conditions.
</p>

<p>
    You can check the current aurora forecast at:
    <a href="https://www.gi.alaska.edu/monitors/aurora-forecast" target="_blank">
        https://www.gi.alaska.edu/monitors/aurora-forecast
    </a>
</p>
    <a asp-controller="Home" asp-action="Index" class="nav-link">Back to Welcome Page</a>
</div>
